nav {
  background-color: $brand-secondary;
  min-height: 40px;
  line-height: 40px;
  color: $brand-grey;

  li {
    padding: 0 0 0 5px;
    border-left: 1px solid;
  }

  li:first-child{
    padding: 0;
    margin: 0;
    border: 0;
  }

  a {
    font-weight: 400;
    &:link,
    &:visited,
    &:focus {
      color: $brand-grey;
      font-size: $font-size-small;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}