$font-family-base: 'Source Sans Pro',sans-serif;

$brand-primary: #14b6c2;
$brand-primary-darker: darken($brand-primary, 20%);
$brand-secondary: #555555;
$brand-secondary-darker: darken($brand-secondary, 20%);

$brand-grey: #b5b5b5;
$brand-grey-darker: darken($brand-grey, 20%);

$link-color: #00B0C0;
$link-color-darker: darken($link-color, 20%);

