header {
  padding: 0 0 $padding-large-vertical;
  border-bottom: 2px solid $brand-primary;

  nav {
    background-color: $brand-primary;
    text-align: right;
    color: $link-color;
    min-height: 40px;
    line-height: 40px;

    a {
      font-size: $font-size-small;
      cursor: pointer;

      &:link,
      &:visited,
      &:focus {
        text-decoration: none;
      }

      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }

  }
}