$brand-primary: #4396cf;
$brand-primary-darker: darken($brand-primary, 20%);
$brand-secondary: #8abee1;
$brand-secondary-darker: darken($brand-secondary, 20%);
$brand-grey: #edf7f9;

$link-color: #8abee1;
$link-hover-color: darken($link-hover-color, 20%);

