$brand-primary: #4396cf;
$brand-primary-darker: darken($brand-primary, 20%);
$brand-secondary: #0070a9;
$brand-secondary-darker: darken($brand-secondary, 20%);

$link-color: #8abee1;
$link-color-darker: darken($link-color, 20%);

