footer {
  background: $brand-primary;
  color: $brand-white;
  padding: 0;
  font-style: italic;

  h3,
  h3 a,
  h3 a:link,
  h3 a:visited {
    color: $brand-white;
    text-decoration: none;
    font-weight: 400;
    font-size: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  p, a {
    font-size: $font-size-small;

  }

  a {
    text-decoration: none;
    color: $brand-pale-grey;

    &:hover {
      text-decoration: underline;
    }
  }

  .social-media-links {
    margin-bottom: $padding-large-vertical;
  }

  .footer-info {
    background: $brand-accent;
  }
}