header {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-logos {
     display: inline-block;
    }

    .header-social-media {
      text-align: right;
      flex: 1;
      align-self: flex-end;

      @media(max-width: $screen-xs) {
        display:none;
      }
    }
  }
}
