nav {
  background-color: $brand-secondary;
  min-height: 40px;
  line-height: 40px;
  color: $brand-grey;

  a {
    font-weight: 400;
    &:link,
    &:visited,
    &:focus {
      color: $brand-grey;
      font-size: $font-size-small;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}