nav {
  background-color: $brand-primary;
  color: $brand-white;
  text-align: center;

  ul {
    padding: 0;

    li {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      positon: relative;
      min-width: 70px;
    }
  }

  a {
    display: block;
    padding: $padding-base-vertical 0;

    &:link,
    &:visited,
    &:focus {
      color: $brand-white;
      font-weight: 400;
    }

    &:hover {
      background-color: $brand-secondary;
      color: $brand-primary;
      font-weight: 400;
    }
  }
}