$font-family-base: Arial, "Helvetica Neue", Helvetica, sans-serif;

$brand-primary: #1a447d;
$brand-primary-darker: #00275d;
$brand-secondary: #ffc16e;
$brand-secondary-darker: darken($brand-secondary, 20%);

$brand-accent: #4b80b8;
$brand-secondary-darker: darken($brand-accent, 20%);

$brand-grey: #454e5c;
$brand-grey-darker: darken($brand-grey, 20%);

$brand-pale-grey: #a4cdff;

$link-color: #004b8d;
$link-color-darker: #f8a039;

