.btn,
a.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base);

  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    border-radius: 0;
    border-width: 0;
    font-family: inherit;
    font-weight: 600;
    text-decoration: none;
  }
}

span.btn {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    cursor: default;
  }
}

.btn-success,
a.btn-success {
  @include button-variant($brand-white, $brand-success, $brand-success, $brand-white, $brand-success-darker, $brand-success-darker);
}

.btn-primary,
a.btn-primary {
  @include button-variant($brand-white, $brand-primary, $brand-primary, $brand-white, $brand-primary-darker, $brand-primary-darker);
}

.btn-secondary,
a.btn-secondary {
  @include button-variant($brand-white, $brand-secondary, $brand-secondary, $brand-white, $brand-secondary-darker, $brand-secondary-darker);
}

span.btn-primary {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

.btn-sm,
a.btn-sm {
  &,
  &:link,
  &:visited {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-small);
  }
}

.btn-md,
a.btn-md {
  &,
  &:link,
  &:visited {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base);
  }
}

.btn-lg,
a.btn-lg {
  &,
  &:link,
  &:visited {
    @include button-size($padding-large-horizontal, $padding-large-horizontal, $font-size-h3);
  }
}

.btn--full-width {
  width: 100%;
}

div.responsive {
  a.next-step,
  .next-step,
  button.next-step,
  button.action-button,
  div#find_participant div.list-component-body div.list-component-cell-column-donate a,
  button.step-button,
  input.step-button {
    @include button-variant($brand-white, $brand-primary, $brand-primary, $brand-white, $brand-primary-darker, $brand-primary-darker);
    text-decoration: none;
  }

  a.secondary-step,
  .secondary-step {
    @include button-variant($brand-white, $brand-secondary, $brand-secondary, $brand-white, $brand-primary-darker, $brand-primary-darker);
  }

}
