/* ******************* */
/* warnings and errors */
/* ****** */

.form-info-message {
}

.page-error {
}

div.responsive div.ErrorMessage.page-error>span.field-error-text {
  background: transparent;
  border: 0;
}

/* **************** */
/* responsive pages */
/* **************** */

div.responsive {
  color: inherit;
  width: auto !important;
}

/* ********** */
/* teamraiser */
/* ********** */

div.tr-page-container {
  border: 0;
}

.mobile div.tr-page-container #entry_page_custom_html {
  max-height: none;
  padding: 0;
}

div.tr-page-header {
  background: transparent;
}

div.registration-page-container div.section-container {
  border-radius: 0;
}

div.registration-page-container div.section-header {
  border-radius: 0;
}

#find_participant div.participant-find-search-container {
  width: auto !important;
  max-width: 450px !important;
}

.mobile div#find_participant li {
  width: 135px !important;

  @media (min-width: $screen-sm-min) {
    width: auto !important;
  }
}

div.thermometer-container {
  background: $brand-grey;

  div.thermometer-inner {
    background: $brand-primary
  }
}
div.progress-bar-step-current div.progress-bar-step-number-container {
  background: $brand-primary;
}
div.part-type-container.selected {
  border-color: $brand-primary;
  background: $brand-grey;
}
div.registration-page-container div.section-sub-header {
  background: $brand-grey;
}
/* ************** */
/* donation forms */
/* ************** */

div.donation-form-container.responsive {
  background: transparent;
  border: 0;
}