@mixin button-variant($color, $background, $border, $hover-color: $color, $hover-background: $background, $hover-border: $border) {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    background-image: none;
    filter: none;
    border-radius: $border-radius-base;
    text-decoration: none;
  }

  &,
  &:link,
  &:visited {
    background-color: $background;
    border-color: $border;
    color: $color;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }

  &:hover {
    background-position: 0 0;
  }

  &:active {
    &:hover,
    &:focus {
      background-color: $hover-background;
      border-color: $hover-border;
    }
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size) {
  &,
  &:link,
  &:visited {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
  }
}

@mixin social-media-icon($size, $radius, $background, $hover, $color) {
  & {
    display: flex;
    width: $size;
    height: $size;
    border-radius: $radius;
    background: $background;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $hover;
      text-decoration: none;
    }

    .fa {
      font-size: $size - 10px;
      color: $color;
    }
  }
}